In [ ]:
Data Extraction and Cleaning/Extraction/Pyhton file and Extracted CSV/movies_tmdb_api_raw.csv